.image-slider {
  margin-top: 30px;
}

.slider {
  display: flex;
  justify-content: center;
  align-items: center;
  filter: brightness(40%);
}
.slider-text {
  top: 50%;
  right: 70%;
  transform: translate(30%, -35%);
  position: absolute;
  z-index: 10;
  color: var(--Whity);
}
.slider-text span {
  color: rgb(255, 77, 77);
  font-size: 20px;
  font-weight: 400;
}
.slider-text p {
  font-weight: 400;
}
.slider-image {
  border-radius: 25px;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  height: 70vh;
}
.recipe-image {
  width: 65%;
}
.recipe-image img {
  width: 100%;
}
.slider-controle {
  position: absolute;
  left: 0;
  right: 0;
  top: 73%;
}
.buttons {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 10px;
}
.arrows {
  display: flex;
  justify-content: center;
  font-size: 35px;
  gap: 10px;
  color: var(--Whity);
}
.image-hide {
  display: none;
}
.btn {
  all: unset;
  padding: 5px;
  margin: 2px;
  border-radius: 50%;
  background-color: rgb(161, 161, 161);
}
.btn-show {
  background-color: rgb(255, 77, 77);
}
